:root {
    --font-family: lora;
    --font-size: 1.1em;
    --editor-background: rgb(240, 248, 255);
    --panel-width: 420px;

    touch-action: none;

    color: var(--background-text-color, black);
    background: var(--background-color, white);
    font-family: var(--font-family, serif);
    font-size: var(--font-size, 1.1em);
}

/* prevent weird highlights https://stackoverflow.com/questions/21003535/ */
.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hidden elements should be hidden regardless of their display style */
[hidden] { display: none !important; }

/* default to width/height including padding and border */
* { box-sizing: border-box; }

/* used dynamically to prevent or cancel smooth transitions */
.skip-transition { transition: none !important; }

/* clickable things should use this cursor imo */
button, a, [data-click-to-hide], [data-tab], [data-close-parent-screen] { cursor: pointer; }

/* draggable things get their own cursor */
[draggable="true"] { cursor: copy !important; }

/* before grab-panning, screen has a grab cursor */
#pan-screen { cursor: grab; }
/* while grab-panning, blocker has a grabbing cursor */
#pan-blocker { cursor: grabbing; }

/* match viewport size, hide anything outside of bounds */
.full-viewport, html, body, .screen, #pan-screen, #pan-blocker {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100vw;
    /* there are caveats to viewport height on mobile
       https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
    height: calc(var(--vh, 1vh) * 100);
}

/* default to no margin for card content */
.card * { margin: 0; }

.button-list {
    display: grid;
    row-gap: .5em;
}

/* point centered on the middle of the screen. this is the parent of all the 
   cards and the element that changes when navigating */
#scene {
    position: absolute; left: 50%; top: 50%;
    width: 0; height: 0;

    /* i think this helps streamline the panning by telling the browser that it
       will be constantly moving
       https://stackoverflow.com/questions/26907265/css-will-change-how-to-use-it-how-it-works */
    will-change: transform;
    transition: transform .2s ease-in-out;
}

/* generic tabbed pages styles */
.tab-bar {
    display: grid;
    grid-auto-flow: column;
    color: white;
    background:black;
}

.tab-bar > div {
    padding: 1em;
    text-align: center;
}

.tab-bar > div.selected {
    color: black;
    background: var(--editor-background);
}

.tab-page {
    margin: 0;
    padding: 2em;
    overflow: auto;

    flex: 1;
    display: flex;
    flex-direction: column;
}
/* end of tabbed pages styles */

textarea, input[type="text"] {
    resize: none;
    border: 1px solid black;
    padding: .5em;
    flex: 1;

    font-family: monospace;
    font-size: 1em;
}

.editor-page {
    padding: 1em;
}

.editor-page[data-page="icons"] {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    column-gap: 1em;
    row-gap: 1em;
}

.icon-select {
    min-width: 3em;
    text-align: center;
    font-size: 1em;

    grid-column-start: 1;
    grid-column-end: 2;
}

.icon-command {
    font-size: 1em;
    font-family: monospace;

    grid-column-start: 2;
    grid-column-end: 5;
}

.card h3 {
    display: block; 
    font-size: 1.5em; 
    font-weight: bold;
    text-align: center;

    margin-bottom: .5em;
}

#coords {
    /* put in the top left */
    position: absolute; left: 0; top: 0;

    font-family: monospace;
    margin: .25em;
    padding: .25em .5em;
    border-radius: .75em;

    background: var(--background-color);
}

#display-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#display-frame {
    background: white;

    margin: 0;
    padding: 0;
    border: none;

    max-width: 100%;
    max-height: 100%;

    width: 800px;
    height: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-family: lora;
    font-size: 1em;
}

.screen {
    background-color: rgb(0, 0, 0, .25);
}

.full-panel {
    cursor: auto;
    padding: 0;

    width: var(--panel-width);
    height: 100%;
    max-width: 100%;

    color: black;
    background-color: var(--editor-background);
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}

#content-input {
    padding: 1em;
}

#type-select {
    margin-bottom: 1em;
}

#type-select > button.selected {
    filter: invert();
}

.card {
    box-sizing: content-box;
    position: absolute;

    transition: transform .2s ease-in-out;

    width: var(--card-width);
    height: var(--card-height);

    display: flex;
    margin: 0 0 1em;
    word-wrap: break-word;
}

.card-text {
    width: 100%;
    padding: 1em;
}

.icon-bar {
    cursor: unset;
    position: absolute;

    font-size: 1.5rem;

    display: grid;
    column-gap: .5em;
    margin: 0;
}

.icon-bar > button, .icon-bar > a, .icon-bar > div {
    width: 2em;
    height: 2em;
    grid-row: 1;

    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-icon-bar {
    font-size: 1rem;

    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;

    column-gap: .75em;
}

.card-edit-bar {
    font-size: 1.25em;

    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
}

.card-icon-bar > a {
    border: none;
    background: none;

    transition: transform .1s ease-in-out;
}

.card-icon-bar > a:hover {
    transform: scale(1.5);
}
.card-icon-bar > a:active {
    transform: scale(2);
}

.card-icon-bar > a.cosmetic {
    cursor: initial;
    transform: unset;
}

.card-icon-bar > a.blank {
    pointer-events: none;
    transform: unset;
}

#toolbar {
    left: 50%; bottom: 0;
    transform: translate(-50%, 0);
    
    padding: .5em;
}

#toolbar > div {
    background: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

#editor-preview {
    width: 100%;
    height: calc(var(--card-height) * 2);
    min-height: calc(100% - var(--card-height) * 2);
}

#editor-section {
    background: var(--editor-background);
    pointer-events: initial;
    cursor: initial;

    position: absolute;
    width: 400px;
    max-width: 100%;
    height: calc(100% - var(--card-height) * 2);
    max-height: calc(var(--card-height) * 2);

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;
}

#style-input {
    min-height: 20em;
}
