:root {
    --editor-background: rgb(240, 248, 255);

    touch-action: none;
}

.card h3 {
    display: block; 
    font-size: 1.5em; 
    font-weight: bold;
    text-align: center;

    margin: 0;
    margin-bottom: .5em;
}

#coords {
    position: absolute;
    left: 0;
    top: 0;

    font-family: monospace;
    margin: .25em;
    padding: .25em .5em;
    border-radius: .75em;

    color: var(--background-text-color);
    background: var(--background-color);

    cursor: copy;
}

#display-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#add-delete-icon {
    cursor: copy;
}

#display-frame {
    background: white;

    margin: 0;
    padding: 0;
    border: none;

    max-width: 100%;
    max-height: 100%;

    width: 800px;
    height: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#display-screen > .full-panel {
    padding: 0;
    overflow: hidden;
}

/* hidden elements should be hidden regardless of their display style */
[hidden] { 
    display: none !important; 
}

.skiptransition {
    transition: none !important;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}

html {
    background: var(--background-color);

    font-family: lora;
    font-size: 1.1em;
}

button, textarea {
    font-family: lora;
    font-size: 1em;
}

#screen {
    width: 100%;
    height: 100%;

    position: absolute;
    margin: 0;
    padding: 0;

    cursor: grab;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;

    will-change: transform;
    transition: transform .2s ease-in-out;
    width: 0;
    height: 0;
}

#card-gap-measure {
    box-sizing: border-box;
    width: var(--card-gap-horizontal);
    height: var(--card-gap-vertical);
}

#pan-blocker {
    pointer-events: auto;
    cursor: grabbing;
    
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.screen {
    background-color: rgb(0, 0, 0, .25);
    
    pointer-events: auto;
    cursor: pointer;
    
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-panel {
    cursor: auto;
    box-sizing: border-box;

    margin: auto;

    padding: 2em;

    width: 40em;
    height: 100%;
    max-width: 100%;

    background-color: var(--background-color);

    overflow: auto;
}

#editor-panel {
    width: calc(var(--card-width));
    position: absolute;
    padding: 1em;
    
    background: var(--editor-background);
    pointer-events: initial;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 0;

    max-width: 100%;
}

#editor-panel > h3 {
    margin-top: 0;
}

#content-input {
    padding: 1em;
    flex: 1;
    border: none;
    border-bottom: 2px solid black;
}

#type-select {
    height: 2em;
    margin-bottom: 1em;
    display: grid;
    column-gap: .5em;
}

#type-select > * {
    height: 100%;
    grid-row: 1;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#type-select > *:hover {
    height: calc(100% + .5em);
}

#type-select > *.selected {
    height: calc(100% + .5em);
}

.card {
    box-sizing: content-box;
    position: absolute;
    cursor: pointer;

    transition: transform .2s ease-in-out;

    width: var(--card-width);
    height: var(--card-height);

    display: flex;
    margin: 0 0 1em;
    word-wrap: break-word;
}

.card-text {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

#version {
    float: right;
}

.icon-bar {
    cursor: unset;
    position: absolute;

    font-size: 1.5rem;

    display: grid;
    column-gap: .5em;
    margin: 0;
}

.icon-bar > button, .icon-bar > a, .icon-bar > div {
    width: 2em;
    height: 2em;
    grid-row: 1;

    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-icon-bar {
    font-size: 1rem;

    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;

    column-gap: .75em;
}

.card-edit-bar {
    font-size: 1.25em;

    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
}

.card-icon-bar > a {
    cursor: pointer;
    border: none;
    background: none;

    transition: transform .1s ease-in-out;
}

.card-icon-bar > a:hover {
    transform: scale(1.5);
}
.card-icon-bar > a:active {
    transform: scale(2);
}

.card-icon-bar > a.cosmetic {
    cursor: initial;
    transform: unset;
}

.card-icon-bar > a.blank {
    pointer-events: none;
    transform: unset;
}

#toolbar {
    background: none;

    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    
    padding: .5em;
}

#toolbar > div {
    background: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

#project-menu {
    margin-top: 1em;
    display: grid;
    column-gap: 1em;
}

#project-menu > button {
    grid-row: 1;
}

pre {
    margin: 0;
}

#editor-preview {
    width: 100%;
    height: calc(var(--card-height) * 2);
    min-height: calc(100% - var(--card-height) * 2);
}

#editor-section {
    background: var(--editor-background);
    pointer-events: initial;
    cursor: initial;

    position: absolute;
    width: calc(var(--card-width) + 4em);
    max-width: 100%;
    height: calc(100% - var(--card-height) * 2);
    max-height: calc(var(--card-height) * 2);

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

#style-section {
    background: var(--editor-background);
    pointer-events: initial;
    cursor: initial;

    position: absolute;
    width: calc(var(--card-width) + 4em);
    max-width: 100%;
    height: calc(100% - var(--card-height));
    max-height: calc(var(--card-height) * 2);

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;

    padding: 1em;
}

#editor-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    background:black;
}

#editor-tabs > div {
    padding: 1em;
    border: initial;

    text-align: center;
}

#editor-tabs > div.selected {
    border: none;
    color: black;
    background: var(--editor-background);
}

.editor-page {
    flex: 1;

    display: flex;
    flex-direction: column;
    padding: 1em;
}

#editor-page-icons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    column-gap: 1em;
    row-gap: 1em;
}

#editor-page-icons > input {
    border: none;
    border-left: 2px solid black;
    padding: .5em;
}

.icon-select {
    min-width: 0;
    text-align: center;
    font-size: 1em;

    grid-column-start: 1;
    grid-column-end: 2;
}

.icon-command {
    font-size: 1em;
    font-family: monospace;

    grid-column-start: 2;
    grid-column-end: 5;
}

#style-screen > .full-panel {
    display: flex;
    flex-direction: column;
}

#style-input {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    font-family: monospace;
    resize: none;
}
