- var font = 'https://fonts.googleapis.com/css?family=Lora&display=swap'
- var data = '{"cards": {"0": {"text": "hello", "type": "red"}}, "views": [{"card": "0", "cell": [0, 0]}]}'

doctype html
html
    head
        meta(charset='utf-8')
        title domino
        script#data(type='text/json') !{data}
        link(href!=font, rel='stylesheet')
        style
            include style.css
        script
            include library/DragDropTouch.min.js
        script
            include library/FileSaver.min.js
        script
            include script.js

    body(onload='loaded()')
        span#debug debug
        #screen
        main
        #sidebar
            #add-delete-card(draggable='true') drag out new card or drop unwanted card here
            select#type-select
            textarea#content-input(hidden)
            button#jump-to-center jump to center
            button#download download
            button#import import
            input#import-file(type="file", accept=".html", hidden)
