[hidden] { display: none !important; }

:root {
    --light: rgb(255, 245, 209);
    --dark: rgb(240, 248, 255);
    --red: #d11305;
    --green: #006951;
    --blue: #162dab;
  
    --red-stiple: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2O8JMKapvfm9ywGKGCEMTAEYCoxVAAAT4UIBcKIFHsAAAAASUVORK5CYII=);
    --green-stiple: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkyOJpYJj2pYEBChhhDEwBqEoMFQD4ngYFtMbpQAAAAABJRU5ErkJggg==);
    --blue-stiple: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkSLmZxjBHfRYDFDDCGJgCUJUYKgD+BgYFL5bp8wAAAABJRU5ErkJggg==);
    --black-stiple: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGBIY2BgmMUABYwwBjYBsEoMFQBSHgIFwNTCZwAAAABJRU5ErkJggg==);

    --stipple-color: var(--red);
    --stipple-gap: 4px;
    --stipple-background-size: calc(var(--stipple-gap) * 2) calc(var(--stipple-gap) * 2);

    --stipple-gradient: radial-gradient(var(--stipple-color) 15%, transparent 16%);
    --stipple-background:
        var(--stipple-gradient) 0 0,
        var(--stipple-gradient) var(--stipple-gap) var(--stipple-gap);

    --card-width: 15rem;
    --card-height: calc(var(--card-width) * .6);
}

html, body {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

html {
    background: var(--light);

    font-family: lora;
    font-size: 1.1em;
}

button, textarea {
    font-family: lora;
    font-size: 1em;
}

#screen {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

main {
    transition: transform .2s ease-in-out;
    width: 0;
    height: 0;
}

.black { background: var(--black-stiple) repeat; }
.red   { background: var(--red-stiple)   repeat; }
.green { background: var(--green-stiple) repeat; }
.blue  { background: var(--blue-stiple)  repeat; }

body {
    overflow: hidden;
}

hr {
    border-top: 2px solid black;
}

#debug {
    position: absolute;
    display: none;
}

#sidebar {
    width: calc(var(--card-width));
    position: absolute;
    margin: 1em;
    padding: 1em;
    
    background: var(--dark);
}

#add-delete-card {
    height: 3em;
    padding: 1em;
    width: calc(100% - 2em);

    margin-bottom: 1em;

    cursor: pointer;
    background: var(--black-stiple);
    border-bottom: 2px solid black;
    text-shadow: 
        0 0 3px var(--dark), 
        0 0 3px var(--dark), 
        0 0 3px var(--dark), 
        0 0 3px var(--dark),
        0 0 3px var(--dark), 
        0 0 3px var(--dark), 
        0 0 3px var(--dark), 
        0 0 3px var(--dark);
}

#content-input {
    padding: 1em;
    width: calc(var(--card-width) - 2em);
    height: calc(var(--card-height) - 2em);

    display: block;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

#type-select {
    height: 2em;
    margin-bottom: 1em;
    display: grid;
    column-gap: .5em;
}

.type-button {
    height: 100%;
    grid-row: 1;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.type-button:hover {
    height: calc(100% + .5em);
}

.type-button.selected {
    height: calc(100% + .5em);
}

.card {
    position: absolute;
    cursor: pointer;

    transition: transform .2s ease-in-out;

    padding: 1em;
    width: calc(var(--card-width) - 2em);
    height: calc(var(--card-height) - 2em);

    display: inline-block;
    margin: 0 0 1em;
    word-wrap: break-word;

    border-bottom: 2px solid black;

    text-shadow: 
        0 0 3px var(--light), 
        0 0 3px var(--light), 
        0 0 3px var(--light), 
        0 0 3px var(--light),
        0 0 3px var(--light), 
        0 0 3px var(--light), 
        0 0 3px var(--light), 
        0 0 3px var(--light);
}

.card::selection {
    background: Highlight;
    color: HighlightText;
    text-shadow: none;
}

.card.selected {
    outline: 2px dashed var(--red);
}

.card > h3 {
    display: inline;
    font-size: 1em;
}

.card > h3::after {
    font-weight: normal;
    content: " — ";
}

.skiptransition {
    transition: none !important;
}

#version {
    margin-top: 1em;
}
