- var title = "domino: a tool for collaging thoughts";
- var image = "https://kool.tools/domino/twitter-card.png";
- var imageAlt = "low fidelity image of many dominoes connected";
- var type = "website";

meta(name="twitter:card", value="summary")
meta(name="twitter:title", value!=title)
meta(name="twitter:image", value!=image)
meta(name="twitter:image:alt", value!=imageAlt)
