:root {
    --background-color: rgb(255, 245, 209);
    --background-text-color: black;

    --card-width: 15rem;
    --card-height: 9rem;
    --card-gap-horizontal: 2em;
    --card-gap-vertical: 2em;
}

/* base style for cards */
.card {
    background-color: white;
    color: black;

    /* tiny curve on corners */
    border-radius: .5em;
    /* thick black line below */
    border-bottom: 3px solid black;
}

.card.has-image {
    /* white text with black outline */
    color: white;
    text-shadow: 
         1px  1px 1px black,
        -1px  1px 1px black,
        -1px -1px 1px black,
         1px -1px 1px black;
}

/* cut off any text that goes outside the bounds of the card */
.card-text {
    overflow: hidden;
}

/* custom card styles */
.domino-card-heading { 
    background-color: #F3E9C7;
    align-items: center;
}

.domino-card-basic-red   { 
    background-color: #FDE9C6; 
}

.domino-card-basic-green { 
    background-color: #F0EDC5; 
}

.domino-card-basic-blue  { 
    background-color: #F2EED2; 
}

/* border from http://todrobbins.com/broider-gallery/ */
.domino-card-broider-example {
    background-color: transparent;
    border-style: solid;
    border-width: .5em;
    align-items: center;
    text-align: center;
    font-family: monospace;
    box-sizing: content-box;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABaElEQVR4nO2WQQ7DMAzD+v9Pbz9oQVhRs4wEclMci4ei13Vdn/JpU++nUIUiFBpmO6HpAmkBq/fB8xTKUOjwPp6nUAYWSgdO81QgFVTvp9BwXqHhvELD+XRhuuB03ur38XyFKlShCr0hnaeF0kLjeYWG8woN5xUaztMF6QPTBVfPozzOUyhDocP7eJ5CGWOh6dOm3k+hCkUoNMzp/URE/orTP8r1fgpVKEKhYZb3O/1Ht95PoQpFKDTMdkKn+bep91PoLP/+g2UUGmY7ofTsRr2fQhWKUGiY1/v9usAn6v0UqlCEQsOc3k9E5KdI/+ju9lGv91OoQhEKDbOd0HSBtIDV++B5CmUodHgfz1MoAwulA6d5KpAKqvdTaDiv0HBeoeF8ujBdcDpv9ft4vkIVqlCF3pDO00JpofG8QsN5hYbzCg3n6YL0gemCq+dRHucplKHQ4X08T6GMsdD0aVPvp1CFIhQaptrvC1EVM4TVl2v7AAAAAElFTkSuQmCC") 28 /  1em / 0 round;
}

/* custom bold style */
.domino-card-broider-example strong {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
}

/* adding halo around icons */
.domino-card-broider-example > .card-icon-bar > *:not(.blank) {
    text-shadow: 
        0 0 5px var(--background-color),
        0 0 5px var(--background-color),
        0 0 5px var(--background-color),
        0 0 5px var(--background-color);
}
