:root {
    --background-color: rgb(246, 226, 255);
    --background-text-color: black;

    --card-width: 15rem;
    --card-height: calc(var(--card-width) * .6);
}

/* base style for cards */
.card {
    background: white;
    color: black;

    border: 1px dashed black;
}

.card-text {
    overflow: hidden;
}

/* custom card styles */
.domino-card-heading { 
    background: rgb(255, 247, 238);
    align-items: center;
}

.domino-card-basic-red   { background: rgb(233, 186, 255); }
.domino-card-basic-green { background: rgb(213, 255, 240); }
.domino-card-basic-blue  { background: rgb(205, 199, 255); }
