:root {
    --background-color: rgb(255, 245, 209);
    --background-text-color: black;

    --card-width: 15rem;
    --card-height: calc(var(--card-width) * .6);
    --card-gap-horizontal: 2em;
    --card-gap-vertical: 2em;
}

/* base style for cards */
.card {
    background: white;
    color: black;

    border-radius: .5em;
    border-bottom: 3px solid black;
}

.card-text {
    overflow: hidden;
}

/* custom card styles */
.domino-card-heading { 
    background: #F3E9C7;
    align-items: center;
}

.domino-card-basic-red   { 
    background: #FDE9C6; 
}

.domino-card-basic-green { 
    background: #F0EDC5; 
}

.domino-card-basic-blue  { 
    background: #F2EED2; 
}
